# App
NEXT_PUBLIC_SITE_NAME=Plan Easy

# Algolia (client-side search-only key)
NEXT_PUBLIC_ALGOLIA_APP_ID=VQ1GJ180LE
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=3dd753f712c7e16ef7da0ef77a02f59a
NEXT_PUBLIC_ALGOLIA_INDEX=planeasy

# AWS Amplify (optional placeholders)
NEXT_PUBLIC_AWS_REGION=
